/*#
@colors&{"titlesAccentColor":"#e723cb","labelsAccentColor":"#a02929","linksAccentColor":"#5185cb","backgroundAccentColor":"#f1d9f8","isDefault":true}&colors@
@info@STYLES BASKET SELECTIONS METADATA@info@
@name&styles_basket&name@
@aspects&wh-tree,accent-colors-selector,wh-menu-page-colors-white-color-black-bg,wh-breadcrumb-colors-labels-colors-bg,wh-search-component-background-color-dark,wh-footer-background-color-dark,fonts-selector,wh-search-component-padding-extra-extra-large,notes-layout-two-lines,notes-style-borders-box,notes-colors-colorful,table-colors-black-white,wh-tiles-themes-titles-and-label-bg,between-elements-extra-large,between-lines-large,titles-position-centered,titles-borders-burger,titles-borders-width-thick,table-style-bottom-border,unordered-list-bullet-square,unordered-list-bullet-color-titles,unordered-list-bullet-size-bigger,ordered-list-counter-decimal,related-links-styles-bd-bottom-uppercase,page-columns-two,pdf-cover-title-horizontal-alignment-left,pdf-cover-title-vertical-alignment-top,pdf-cover-title-colors-labels,toc-numbering-deep,wh-tree-themes-titles-labels-colors-with-bg,wh-breadcrumb-style-bold-selection,wh-breadcrumb-separator-diamond,wh-left-toc-light-shadow,pdf-cover-selector&aspects@
@info@WARNING: PLEASE DON'T MODIFY THIS FILE. MODIFICATION CAN CAUSE UPLOADING ERRORS@info@
@info@TIP: YOU CAN USE custom.css TO ADD CUSTOM SELECTORS.@info@
#*/
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts.ttf) format('truetype');
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts.ttf) format('truetype');
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
@media print {
  @page front-page {
    background-image: url("resources/cover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}
/* Bold selection in Publication TOC. WebHelp only. */
@media screen {
  .wh_publication_toc .active > .topicref a {
    font-weight: bold;
  }
}
/*accent-colors-selector*/
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~='front-page/front-page-title'],
*[class~="toc/title"],
*[class~="placeholder/figurelist"] > *[class~="topic/title"],
*[class~="placeholder/tablelist"] > *[class~="topic/title"],
*[class~="index/groups"]::before {
  color: #e723cb;
}
*[class~='topic/shortdesc']:before {
  color: #a02929;
}
*[class~='topic/xref'],
*[class~='topic/link'] {
  color: #5185cb;
}
.related-links a,
.related-links a:visited {
  color: #5185cb;
}
a,
a:hover,
a:visited {
  color: #5185cb;
}
*[class~='topic/table'] th {
  background-color: #f1d9f8;
}
/*fonts-selector*/
@page {
  font-family: 'BrandingFont', sans-serif;
}
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~='front-page/front-page-title'],
*[class~="toc/title"],
*[class~="map/topicref"],
*[class~='topic/title'],
*[class~='topic/thead'],
*[class~="placeholder/figurelist"],
*[class~="placeholder/tablelist"],
*[class~="index/groups"]::before,
*[class~="index/group"] > *[class~="index/label"],
.wh_publication_title,
.wh_top_menu,
.wh_tile_title .topicref,
.wh_main_page_toc_entry .topicref,
.wh_index_terms span.wh_first_letter,
.wh-letters li a {
  font-family: 'BrandingFont', sans-serif;
}
body {
  font-family: 'SecondaryBrandingFont', sans-serif;
}
/*between-elements-extra-large*/
*[class~='topic/p'],
*[class~='topic/lq'],
*[class~='topic/note'],
*[class~='topic/dl'],
*[class~='topic/ul'],
*[class~='topic/ol'],
*[class~='topic/li'],
*[class~='topic/sl'],
*[class~='topic/pre'],
*[class~='topic/lines'],
*[class~='topic/fig'],
*[class~='topic/table'],
*[class~='topic/simpletable'],
*[class~='topic/section'],
*[class~='topic/example'] {
  margin: 1.5em 0;
}
/*between-lines-large*/
*[class~='topic/topic'],
*[class~='topic/body'],
*[class~='topic/title'] {
  line-height: 1.6;
}
/*titles-position-centered*/
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~="toc/title"],
*[class~="placeholder/figurelist"] > *[class~="topic/title"],
*[class~="placeholder/tablelist"] > *[class~="topic/title"],
*[class~="index/groups"]::before {
  text-align: center;
}
/*titles-borders-burger*/
.topictitle1,
.topictitle2:not(*[class ~= "glossentry/glossterm"]),
*[class~="toc/title"],
*[class~="placeholder/figurelist"] > *[class~="topic/title"],
*[class~="placeholder/tablelist"] > *[class~="topic/title"],
*[class~="index/groups"]::before {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.25em;
}
/*titles-borders-width-thick*/
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~="toc/title"],
*[class~="placeholder/figurelist"] > *[class~="topic/title"],
*[class~="placeholder/tablelist"] > *[class~="topic/title"],
*[class~="index/groups"]::before {
  border-width: thick !important;
}
/*table-style-bottom-border*/
*[class~='topic/entry'],
*[class~='topic/stentry'] {
  border: 0;
  border-bottom: thin solid;
}
/*table-colors-black-white*/
*[class~='topic/table'] th {
  background-color: #ffffff;
}
/*unordered-list-bullet-square*/
*[class="- topic/ul ul"] > *[class="- topic/li li"] {
  list-style-type: square;
}
/*unordered-list-bullet-color-titles*/
*[class="- topic/ul ul"] > *[class="- topic/li li"]::marker,
*[class="- topic/ul ul"] > *[class="- topic/li li"]::before {
  color: #e723cb;
}
/*unordered-list-bullet-size-bigger*/
*[class="- topic/ul ul"] > *[class="- topic/li li"]::marker,
*[class="- topic/ul ul"] > *[class="- topic/li li"]::before {
  font-size: 1.3em;
}
/*ordered-list-counter-decimal*/
*[class="- topic/ol ol"] > *[class="- topic/li li"] {
  list-style-type: decimal;
}
/*notes-layout-two-lines*/
span.note__title {
  display: block;
}
/*notes-style-borders-box*/
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  border: 1px solid;
  border-radius: 11px;
}
/*notes-colors-colorful*/
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  background-color: rgba(0, 120, 160, 0.09);
  border-color: #0078A0;
}
*[class~="topic/note"].note_danger,
*[class~="topic/note"].note_caution {
  background-color: rgba(255, 202, 45, 0.1);
  border-color: #606060;
}
*[class~="topic/note"].note_warning,
*[class~="topic/note"].note_attention,
*[class~="topic/note"].note_important {
  background-color: rgba(255, 202, 45, 0.1);
  border-color: #FFCA2D;
}
*[class~="topic/note"].note_restriction {
  background-color: rgba(255, 226, 225, 0.32);
  border-color: #FF342D;
}
/*related-links-styles-bd-bottom-uppercase*/
*[class~="topic/linklist"] > strong {
  border-bottom: 1px solid #e723cb;
  text-transform: uppercase;
  display: inherit;
}
/*page-columns-two*/
@media print {
  @page chapter {
    column-count: 2;
  }
}
/*pdf-cover-selector*/
/*pdf-cover-title-horizontal-alignment-left*/
*[class~="front-page/front-page-title"] > *[class~="topic/title"] {
  text-align: left;
}
/*pdf-cover-title-vertical-alignment-top*/
*[class~="front-page/front-page-title"] {
  margin-top: 0px;
}
/*pdf-cover-title-colors-labels*/
*[class~="front-page/front-page-title"] > *[class~="topic/title"] {
  color: #a02929;
  background-color: transparent;
}
/*toc-numbering-deep*/
/*wh-tree*/
/*wh-tiles-themes-titles-and-label-bg*/
.wh_tile {
  border-radius: 8px;
  background-color: #f1d9f8;
}
.wh_tile_title {
  text-align: center;
  font-size: 1.5em;
}
.wh_tile_title a {
  color: #e723cb;
}
.wh_tile_shortdesc {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #a02929;
}
/*wh-tree-themes-titles-labels-colors-with-bg*/
.wh_main_page_toc {
  border: none;
  background-color: #f1d9f8;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header,
.wh_main_page_toc > .wh_main_page_toc_entry,
.wh_main_page_toc_accordion_entries {
  border-bottom: #e723cb;
  background-color: transparent;
  text-align: left;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover,
.wh_main_page_toc > .wh_main_page_toc_entry:hover {
  background-color: rgba(231, 35, 203, 0.2);
  color: #e723cb;
}
.wh_main_page_toc .topicref a,
.wh_main_page_toc .topicref a:visited {
  color: #e723cb;
}
.wh_main_page_toc .wh_toc_shortdesc {
  color: #a02929;
  font-weight: normal;
}
.wh_main_page_toc_accordion_header:before {
  color: #e723cb;
}
/*wh-breadcrumb-style-bold-selection*/
.wh_breadcrumb ol .active a {
  font-weight: bold;
}
/*wh-breadcrumb-separator-diamond*/
.wh_breadcrumb li:not(:last-of-type):after {
  content: ' \0025C6 ';
}
/*wh-left-toc-light-shadow*/
.wh_publication_toc {
  box-shadow: 0px 0px 3px 1px #a02929;
  padding: 1em;
}
/*wh-menu-page-colors-white-color-black-bg*/
.wh_header {
  background-color: #000;
}
.wh_top_menu > ul > li a,
.wh_indexterms_link a::before {
  color: #fff;
}
.wh_indexterms_link a span {
  display: none;
}
.wh_top_menu ul li:hover {
  background-color: #404040;
}
.wh_top_menu ul ul {
  background-color: #404040;
}
.wh_top_menu ul ul li {
  border-top-color: #000;
}
.wh_top_menu ul ul li a:hover {
  background: #000;
}
/*wh-search-component-background-color-dark*/
.wh_search_input {
  background-color: #d183e8;
}
/*wh-search-component-padding-extra-extra-large*/
.wh_search_input {
  padding: 80px 0;
}
/*wh-footer-background-color-dark*/
.wh_footer {
  background-color: #c158e0;
}

